<app-card>
  <header><h1>Angular</h1></header>
  <content>One framework. Mobile & desktop.</content>
  <footer><b>Super-powered by Google </b></footer>
</app-card>

<app-card>
  <header><h1 style="color: red">React</h1></header>
  <content>A JavaScript library for building user interfaces</content>
  <footer><b>Facebook Open Source </b></footer>
</app-card>

<!--<card>-->
<!--  <div class="header">-->
<!--    <h1>Angular</h1>-->
<!--  </div>-->
<!--  <div class="content">One framework. Mobile & desktop.</div>-->
<!--  <div class="footer"><b>Super-powered by Google </b></div>-->
<!--</card>-->

<!--<card>-->
<!--  <div class="header">-->
<!--    <h1 style="color:red;">React</h1>-->
<!--  </div>-->
<!--  <div class="content">A JavaScript library for building user interfaces</div>-->
<!--  <div class="footer"><b>Facebook Open Source </b></div>-->
<!--</card>-->
